<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>
<body style="background-image: url('/images/register.webp');">
<div class="container" th:object="${registerDto}">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-lg mt-2">
                <div class="card-body">
                    <h3 class="text-center mb-2">Register Form</h3>
                    <form th:action="@{/users/register}" th:method="POST" enctype="multipart/form-data" id="registration-form">
                        <!-- Profile Picture -->
                        <div class="form-group text-right">
                            <label for="profilePicture"><i class="fas fa-camera"></i> Profile Picture</label>
                            <input type="file" class="form-control-file" id="profilePicture" name="profilePicture"
                                   th:classappend="${#fields.hasErrors('profilePicture')} ? 'is-invalid'" th:field="*{profilePicture}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('profilePicture')}" th:errors="*{profilePicture}"></div>
                        </div>

                        <!-- Username -->
                        <div class="form-group">
                            <label for="username"><i class="fas fa-user"></i> Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
                                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" th:field="*{username}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        </div>

                        <!-- First Name -->
                        <div class="form-group">
                            <label for="firstName"><i class="fas fa-user-circle"></i> First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name"
                                   th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" th:field="*{firstName}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="lastName"><i class="fas fa-user-circle"></i> Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name"
                                   th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" th:field="*{lastName}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label for="email"><i class="fas fa-envelope"></i> Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" th:field="*{email}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <label for="password"><i class="fas fa-lock"></i> Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" th:field="*{password}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group">
                            <label for="confirmPassword"><i class="fas fa-lock"></i> Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"
                                   th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'" th:field="*{confirmPassword}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                        </div>


                        <!-- Submit button -->
                        <button class="g-recaptcha btn btn-info btn-lg"
                                th:attr="data-sitekey=${@reCaptchaConfig.getSite()}"
                                data-callback='onSubmit'
                                data-action='submit'>Sign In</button>
                        <a th:href="@{/users/login}" class="btn btn-dark">Already have an Account?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("registration-form").submit();
    }

</script>
</body>
</html>
